#main_text {
  background-color: #3b3b6d;
  

}
#washingtitle {
  background-color:#F1F1F6;
  height: 100%;
  width: 100%;
  color: #B32134;
  font-size: 100px;
  text-align: center;
}
#flag{
display: block;
min-height: 300px;
max-height: 300px;
min-width: 600px;
max-width: 600px;
width: 90%;
margin-left: auto;
margin-right: auto;
}
#firstp{
color: #F1F1F6;
font-size: 150%;
}
#goat {
  background-color: #F1F1F6;
  color: #B32134;
  font-size: 40px;
  text-align: center;
}
#firstlink{
background-color: #F1F1F6;
color:#3b3b6d;
}

#secondlink{
background-color: #F1F1F6;
color:#3b3b6d;
}

#portrait{
display: block;
margin-left: auto;
margin-right: auto;
width: 90%;
min-height: 400px;
max-height: 400px;
min-width: 250px;
max-width: 250px;
}

#boatington{
display: block;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
min-width: 600px;
min-height: 300px;
}